# Environment variables
.env
*.env

# Secrets
*.key
*.pem
*.pfx

# Terraform
**/.terraform/*
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*

# Backups & dumps
backup/
backups/
*.sql
*.dump

# Certificates
certs/
ssl/

# OS / editor
.DS_Store
.idea/
.vscode/

# Generated
*.log
